@import "tailwindcss";

@theme {
    --color-primary-yellow: hsl(47, 88%, 63%);
    --color-gray500: hsl(0, 0%, 42%);
    --color-gray950: hsl(0, 0%, 7%);

    --font-figtree: "Figtree", sans-serif;
}
